%head
  %script{:type => "/app/stylesheets/application.css"} :cdata

%p#notice= notice
%h1.games-container-index Games
.games-container-index
  - if @games
    - @games.each do |game|
      .game-container-index
        .game-stats   
          = image_tag game.avatar.url, :class => "img-index"
          .title= link_to game.title, game
          .sub-game-stats

%br/
-if current_user
  .games-container-index= link_to 'New Game', new_game_path


