/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.games-container {
  margin: auto;
  width: 50%;
}

.game-container {
  border: 1px solid gray;
  margin: 3px;
  padding: 10px;
  display: flex;
  background-color: #80e27e;
  border-radius: 5px;
  justify-content: space-between;
}


.game-functionality {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 5px;
}

.game-stats {
  border: 1px solid black;
  padding: 5px;
  width: 30%;
}

.game-description {
  border: 1px solid black;
  padding: 5px;
  width: 60%;
}

.game-tags {
  background-color: #087f23;
  border-radius: 3px;
}

.game-tag {
  display: flex;
  flex-wrap: wrap;

}

.reviews-container {
  border: 1px solid blue;
  margin: auto;
  width: 50%;
}

.review-container {
  padding: 5px;
  border-bottom: 1px solid gray;
}

#title {
  margin-left: 6px;
}