/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.game-container-index {
  width: 150px;
  border: 1px solid gray;
  margin: 3px;
  padding: 10px;
  display: flex;
  background-color: #80e27e;
  border-radius: 5px;
  justify-content: space-between;
}

.games-container-index {
  margin: auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.friends-container {
  margin: auto;
  width: 50%;
  display: block;
}

.option {
  margin:10px;
}

.games-container {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.add-game-container {
  margin: auto;
  width: 50%;
}

.games-new-container {
  margin: auto;
  width: 50%;
}

.game-container {
  border: 1px solid gray;
  margin: 3px;
  padding: 10px;
  display: flex;
  background-color: #80e27e;
  border-radius: 5px;
  justify-content: space-between;
}

.review-container {
  border: 1px solid gray;
  margin: 3px;
  padding: 10px;
  background-color: #80e27e;
  border-radius: 5px;
}


.game-functionality {
  border: 1px solid gray;
  margin: 3px;
  padding: 10px;
  display: flex;
  background-color: #80e27e;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
}

.game-stats {
  padding: 5px;
  width: 40%;
}

.game-description {
  border: 1px solid black;
  padding: 5px;
  width: 40%;
}

.game-tags {
  border-radius: 3px;
  margin-left: 10px;
  padding: 0;
}

.game-tag {
  display: flex;
  flex-wrap: wrap;

}


.reviews-container {
  margin: auto;
  width: 50%;
}

.review-container {
  border: 1px solid gray;
  display: block;
  background-color: #80e27e;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  margin-left: 6px;
}

.link {
  padding-right: 6px;
}

.sub-game-stats {
  margin-left: 10px;
  padding: 0;
}

.posted-by {
  font-size: 8px;
  margin-left: 9px;
}

.review-container-inner {
  margin-left: 5px;
}

.votes {
  display: flex;
  align-items: center;
}

.vote-buttons {
  display: flex;
  width: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.vote-count {
  margin-right: 10px;
}

.header-nav {
  display: flex;
  background-color: #D3D3D3;
  justify-content: flex-start;
}

.nav-link {
  margin-right: 20px;
}
