/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * { 
  font-family: Rakkas;
 }

h1 {
  font-size: 300%;
  padding-left: 200px;
  padding-top: 90px ;
}

.game-container-index {
  width: 150px;
  margin: 40px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
}

.games-container-index {
  margin: auto;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.friends-container {
  margin: auto;
  width: 50%;
  display: block;
}

.option {
  margin:10px;
}

.games-container {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.add-game-container {
  margin: auto;
  width: 50%;
}

.games-new-container {
  margin: auto;
  width: 50%;
}

.game-container {
  border: 1px solid gray;
  margin: 3px;
  padding: 10px;
  display: flex;
  background-color: #80e27e;
  border-radius: 5px;
  justify-content: space-between;
}

.review-container {
  border: 1px solid gray;
  margin: 3px;
  padding: 10px;
  display: flex;
  background-color: #80e27e;
  border-radius: 5px;
  justify-content: space-between;
}


.game-functionality {
  border: 1px solid gray;
  margin: 3px;
  padding: 10px;
  display: flex;
  background-color: #80e27e;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
}

.game-stats {
  padding: 5px;
  width: 40%;
}

.game-description {
  border: 1px solid black;
  padding: 5px;
  width: 40%;
}

.game-tags {
  border-radius: 3px;
  margin-left: 10px;
  padding: 0;
}

.game-tag {
  display: flex;
  flex-wrap: wrap;

}


.reviews-container {
  margin: auto;
  width: 50%;
}


.title {
  font-size: 20px;
  margin: auto;
}

.link {
  padding-right: 6px;
}

.sub-game-stats {
  margin-left: 10px;
  padding: 0;
}

.posted-by {
  font-size: 8px;
  margin-left: 9px;
}

.review-container-inner {
  margin-left: 5px;
  padding: 5px;
  width: 90%;
}

.votes-review {
  display: flex;
  align-items: center;
  width: 30%;
}

.votes {
  display: flex;
  align-items: center;
}

.vote-buttons {
  display: flex;
  width: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.vote-count {
  margin-right: 10px;
}

/****/ 

/**NAV BAR **/ 

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2;
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: fixed;
  width: 90px;
  height: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #685d5d;
  list-style-type: none;
 
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu a { 
  text-decoration: none;
  color: white; 
 }

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

/****/ 
.img-index { 
  width: 200px;
  height: 200px;
  box-shadow: 7px 7px 2px #D3D3D3;
  border-radius: 5px 5px 5px 5px;
 }

 .img-index:active{
  box-shadow: 7px 7px 2px #5b5e5c;
  transform: translateY(5px);
 }


.new-game-btn{ 
  background-color: #ffb347 ;
  border-radius: 5px 5px 5px 5px;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size:15px;
  position: absolute;
  right: 170px;
  top: 60px;
}

.new-game-btn:hover{
  background-color: #eda540;
}

.new-game-btn:active {
  box-shadow: 3px 3px 3px #5b5e5c;
  transform: translateY(4px);
}
