%ul.header_nav
  %li
    %a{:href => "/games/index"} Home
  %li
    %a{:href => "/users/sign_up"} Register
  %li
    %a{:href => "/users/sign_in"} Login
  %li= link_to('Logout', destroy_user_session_path, :method => :delete)
